.Verdana {
	font-family: Verdana, Geneva, sans-serif;
}
.v {
	font-family: Verdana, Geneva, sans-serif;
}
#a {
	font-family: Verdana, Geneva, sans-serif;
}
#a p {
	font-family: Verdana, Geneva, sans-serif;
}
